:root {
    --background: #0d1b2a;
    --text-color: #C4C5BE;
    --strong-color: #16DB93;
    --link-glow-color: #20E99F;
    --heading-font: 'Rubik', sans-serif;
    --content-font: 'Montserrat', sans-serif;
    --element-padding: 20px;
}

/* || General styles ----------------------- */

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background);
    color: var(--text-color);
    padding: var(--element-padding);
    margin: 0 20px;
}


/* || Header styles ----------------------- */

header {
    display: flex;
    justify-content: space-between;
    padding: var(--element-padding);
    font-size: 45px;
}

h1 {
    
    color: var(--strong-color);
    font-family: var(--heading-font);
}

li {
    display: inline;
    font-size: .45em;
    padding: 2px;
    margin: var(--element-padding);
    font-family: var(--heading-font);
}

a {
    text-decoration: none;
    color: var(--strong-color);
    transition: .2s;
}

header a:hover {
    color: var(--link-glow-color);
    text-shadow: 0 0 5px var(--strong-color),
                 0 0 10px var(--strong-color);
}

/* || Main section styles ----------------------- */

main {
    line-height: 1.3;
    margin: 150px 0 50px 0;
}

img {
    margin: 20px 10px;
    border: 2px solid #606156;
    height: 352px;
    padding: 10px;
}


h2 {
    font-size: 25px;
    font-family: var(--heading-font);
    color: var(--strong-color);
    letter-spacing: 1.5px;
}

div {
    padding: var(--element-padding);
}

p {
    font-family: var(--content-font);
    font-size: 14px;
}
/* || Overall About, Applications, and Contact Section Styles ----------------------- */

.about, .applications, .contact {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: 50px auto;
}

.section-heading h2 {
    width: 163px;
}

/* About Content flexbox ----------------------- */

.about-content {
    width: 70%;
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}

/* About Paragraph section flexbox ----------------------- */

.about-content div:first-child {
    height: 385px;
    align-self: center;
}

.about-paragraphs {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.about p {
    padding: var(--element-padding);
}

/* Dividing bar between all headings and content ----------------------- */

.divider {
    padding: 0;
    width: 3px;
    border: 2px solid var(--strong-color);
}

h3 {
    font-family: var(--content-font);
    letter-spacing: 1px;
    font-size: 20px;
    margin-bottom: 20px;
}

/* || Applications Content flexbox ----------------------- */

.applications-content {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: 0;
}

/* Largest Application section ----------------------- */

#premier {
    width: 100%;
    margin: 20px 0;
    padding: 0;
}

#premier img {
    width: 95%;
    margin: 0;
}

/* Small Application section ----------------------- */

.app-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.app-wrapper div {
    padding: 10px 0;
    margin: 0;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-content: space-around;
}

.app-wrapper a {
    width: 95%;
}
    
.app-wrapper img {
    width: 95%;
    height: 150px;
    margin: 0;
}

/* Contact-Content flexbox ----------------------- */

.contact-content {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
}

.contact-content a {
    font-size: 16px;
    font-family: var(--content-font);
}

.contact-content a:hover {
    color: var(--link-glow-color);
    text-shadow: 0 0 5px var(--strong-color),
                 0 0 10px var(--strong-color);
}

/* Self Portait image moves to top of section ----------------------- */

@media screen and (max-width: 1390px) {
    body {
        margin: 0 10px;
        padding: 20px 0;
    }

    .about-content {
        flex-direction: column;
    }
}

/* Small Application images wrap to 1 per row ----------------------- */

@media screen and (max-width: 1135px) {
    .app-wrapper {
        width: 100%;
    }

    .app-wrapper div {
        width: 100%;
    }

    .app-wrapper img {
        width: 100%;
    }
}