:root {
    --background: #0d1b2a;
    --text-color: #C4C5BE;
    --strong-color: #16DB93;
    --heading-font: 'Rubik', sans-serif;
    --content-font: 'Montserrat', sans-serif;
}

/* || General styles */

body {
    background-color: var(--background);
    color: var(--text-color);
    padding: 10px;
}

p {
    font-family: var(--content-font);
    font-size: 14px;
}

a {
    text-decoration: none;
    color: var(--strong-color);
}

/* || Header styles */

header {
    display: flex;
    justify-content: space-between;
}

h1 {
    font-size: 35px;
    color: var(--strong-color);
    font-family: var(--heading-font);
}

li {
    padding: 2px;
    font-family: var(--heading-font);
}

/* || Main section styles */

main {
    line-height: 1.2;
}

/* || About section styles */

.about {
    display: flex;
    flex-direction: column;
}

.about h2 {
    font-size: 25px;
    font-family: var(--heading-font);
    color: var(--strong-color);
}