:root {
    --background: #0d1b2a;
    --text-color: #C4C5BE;
    --strong-color: #16DB93;
    --heading-font: 'Rubik', sans-serif;
    --content-font: 'Montserrat', sans-serif;
    --element-padding: 20px;
}

/* || General styles */
html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background);
    color: var(--text-color);
    padding: var(--element-padding);
    margin: 0 20px;
}

a {
    text-decoration: none;
    color: var(--strong-color);
}

/* || Header styles */

header {
    display: flex;
    justify-content: space-between;
    padding: var(--element-padding);
    font-size: 45px;
}

h1 {
    
    color: var(--strong-color);
    font-family: var(--heading-font);
}

li {
    display: inline;
    font-size: .45em;
    padding: 2px;
    margin: var(--element-padding);
    font-family: var(--heading-font);
}


/* || Main section styles */

main {
    line-height: 1.3;
    margin: 20px 0;
}

img {
    margin: 20px 10px;
    border: 2px solid #606156;
    height: 352px;
    padding: 10px;
}


h2 {
    font-size: 25px;
    font-family: var(--heading-font);
    color: var(--strong-color);
    letter-spacing: 1.5px;
}

div {
    padding: var(--element-padding);
}

p {
    font-family: var(--content-font);
    font-size: 14px;
}
/* || About section styles */

.about {
    display: flex;
    width: 90%;
    margin: auto;
}

.about h2 {
    align-self:flex-end;
}

.about-text {
    flex: 2;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.about p {
    padding: var(--element-padding);
}

/* || Overall Applications section styling */
.applications {
    display: flex;
    justify-content: flex-end;
}

.applications h2 {
    padding-right: 120px;
    border-right: 3px solid var(--strong-color);
}

h3 {
    font-family: var(--heading-font);
}

/* || Applications main flexbox*/

.applications > div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 75%;
    padding: 0;
    margin: 0;
}


/* .applications a {
    display: flex;
    justify-content: center;
} */

#premier {
    width: 100%;
    margin: 20px 0;
    padding: 0;
    margin-top: 50px;
}

#premier img {
    width: 95%;
    margin: 0;
}

.app-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.app-wrapper div {
    padding: 10px 0;
    margin: 0;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-content: space-around;
}
    
.app-wrapper img {
    width: 90%;
    height: 150px;
    margin: 0;
}

